@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+JP+N&display=swap');

* {
      margin:0; padding:0;
      box-sizing:border-box;
      font-family:sans-serif;
    }
    body {
         overflow-x:hidden;
    }

    .main_container {
      min-height:100vh;
      background:whitesmoke;
      display:flex; flex-direction:column;
      align-items:center; gap:20px;
      padding:20px;
    }
    .main_container h1 {
      font-size:45px; 
      color:white;
      text-shadow:1px 1px 5px black;
        font-family: algerian;

      letter-spacing:2px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .first_row, .second_row {
      display:flex;
      flex-wrap:wrap;   
      justify-content:center;
      align-items:center;
      gap:30px;
      width:100%;
    }

    .first_row .box1, .first_row .box2, .first_row .box3, .second_row .box4, .second_row .box5, .second_row .box6 {
      background:white;
      height:200px;
      padding:20px;
      border-radius: 14px;
      box-shadow: inset 0px 2px 6px black;
      display:flex;
      align-items:center; justify-content:center;
      flex: 1 1 300px; 
      max-width:25%;
    }

    .sub1 img { 
        width:90px; 
        height:90px; 
    }
    .sub2 {
      width:60%;
      display:flex; flex-direction:column;
      margin-left:20px;
      color:rgb(45,45,45);
    }
    .sub2 h2{
        letter-spacing: 1px;
        font-family: WDXL Lubrifont JP N ;
    }
    .sub2 p {
        font-size:15px; 
        margin-top: 10px;
        letter-spacing: 1px;
        color:rgb(90,90,90); 
    }

    /* Media Query for ≤900px screens */
    @media (max-width:900px) {
      .first_row, .second_row {
        flex-direction:column;
        gap:20px;
      }
      .first_row .box1,.first_row .box2,.first_row .box3, .second_row .box4,.second_row .box5,.second_row .box6 {
        flex:1 1 100%;
        max-width:90%;
        margin:0 auto;
      }
    }