*{
    margin: 0;
    padding: 0;
}
.nav{
    height: 30px;
    width: 100vw;
    background-color: #ed9531;
}
.nav ul{
    display: flex;
    margin: 0;
    padding: 5px;
    gap: 20px;
    color: hsl(225, 12%, 93%);
    font-size: 20px;
    justify-content: space-around;
    cursor: pointer;
    list-style: none;
    flex-wrap: wrap;
     object-fit: cover;
}
.nav ul li:hover{
    color: hsl(225, 12%, 93%);
    transform: scale(1.1);
}
.video-section{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    background-color: hsl(160, 8%, 86%);
}
#set{
    width:100vw;
  /*  box-shadow:0px 4px 10px rgba(red, green, blue, alpha);*/
    height: 100vh;
    object-fit: cover;
 }
.right{
    position:absolute;
  padding: 10px 15px;
  font-size: 10px;
  z-index:10;
  color: #f0ffff;
}
.bakary-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:30px ;
    gap: 20px;
    border-radius: 5px soild black;
    cursor: pointer;
    /*box-shadow: 10px 15px 40px rgb(61, 52, 52);*/
    object-fit: cover;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
#box1{
    height:290px;
    width:200px;
    background-color:hwb(0 90% 9%);
    overflow: hidden;

}
#box2{
    height:290px;
    width:200px;
    background-color: rgb(234, 230, 230);
    overflow: hidden;
}
#box3{
    height:290px;
    width:200px;
    background-color: hsl(0, 11%, 93%);
    overflow: hidden;

}
#box4{
    height:290px;
    width:200px;
    background-color: #e6dfdf;
    overflow: hidden;

}
h1{
    text-align: center;
    color: hsl(225, 12%, 93%);
    font-size: 24px;
    padding: 10px;
    font-family: Geneva, Tahoma, sans-serif;
}
p{
    text-align: center;
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity:0.9;
   color: hwb(225 92% 6%);
}
.bekary-content{
    background-color: oklab(74.74499999999999% 0.07466 0.11235);
    height: 800px;
    width: 100vw;
}
img{
    height: 70%;
    width: 100%;

}
.cake-name{
    color: black;
    text-align: center;
    margin-top: 5px;
}
.price{
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
#box1 img:hover{
    transform: scale(1.1);
    object-fit: cover;
}
   @media screen and (max-width:487px) {
    .nav{
        display:none;
        background-color:red;
     }
     .p{
        font-size: 4em;
     }
     .bakary-item{
        max-height:100%;

     }
     .bekary-content{
        height:3300px;
        background-color: #ed9531;
     }
    
   }




