@import url('https://fonts.googleapis.com/css2?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

* {
   padding: 0px;
   margin: 0px;
   /* box-sizing: border-box; */
}

body {
   width: 100vw;
   height: 100vh;
   background: url(./background.jpg);
   background-position: bottom;
   background-size: cover;
}

.heading h1 {
   font-size: 3.3em;
   text-align: center;
   padding-top: 80px;
   color: white;
   font-family: "Candal", sans-serif;
   font-weight: 200;
}

.card-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 70px;
}

.card {
   width: 310px;
   height: 300px;
   background-color: white;
   border-radius: 10px;
   box-shadow: 0px 5px 10px;
}

.card-content {
   padding: 30px 30px;
   line-height: 1.3;
}

.card-content h1 {
   font-size: 38px;
   font-weight: 700;
   margin-bottom: 10px;
   font-family: "Patrick Hand", cursive;
}

.card-content p {
   font-size: 1.2em;
   font-weight: 600;
   color: #0e0c0c;
   margin-bottom: 10px;
   font-family: "EB Garamond", serif;
}